@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #29caff;
    --blue-hover: #2bb9e9;
    --blue-semidark: #20a1cc;
    --blue-semidark2: #4896fc;
    --blue-semidark-hover: #3f83db;
    --blue-dark: #03ade6;
  }
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll-bar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 50px;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #dfdddd;
  border: 1px solid rgb(229, 235, 231);
}
